body {
    background-image: url(aset/wallpapers.jpg);
    background-size: cover; /* Mengatur gambar agar menutupi seluruh area */
    background-position: center; /* Mengatur posisi gambar di tengah */
    background-repeat: no-repeat;
    height: 956px;
    width: 404px;
}
.kaushan-script-regular {
    font-family: "Kaushan Script", serif;
    font-weight: 400;
    font-style: normal;
  }
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-family:  "Kaushan Script", serif;
    font-size: 20px;
    color: white;
    text-shadow: 5px 5px px black;
}